@media (width:  768px) {

    header input {

        width: 400px;

    }

}

@media (max-width: 745px) {

    .card h2 {

        font-size: 2.7rem;
        font-weight: 500; 

    }

    .card-content {

        display: block;

    }

    .card img {

        width: 90%;

    }


    .content-line {

        display: block;
        padding-top: 0;

    }

    .content-line p, .content-line div{

        font-size: 1.9rem;

    }
    
    .content-informations {
    
        font-size: 1.9rem;
    
    }
    
}

@media (max-width: 716px) {
    
    .card-form {

        margin-bottom: 20px;

    }

    .form-group {

        display: block;
        margin-bottom: 0;
        padding-top: 0;
    
    }
    
    .form-group input {

        width: 84%;
        font-size: 1.5rem;

    }

    .form-group select {

        width: 87%;
        font-size: 1.5rem;

    }

}

@media(max-width: 550px) {

    .container p{

        font-size: 1.5rem;

    }
    
}

@media (max-width: 515px) {

    .card-form h2 {

        font-size: 2.5rem;
        font-weight: 600;
        padding: 15px;
        margin-bottom: 20px;

    }

}

@media (max-width:  425px) {

    header .container  {

        width: 100%;
        display: block;
        text-align: center;
        margin-right: 0;

    }

    header .container h1 img {

        width: 135px;
        margin-left: 15px;

    }

    header input {

        width: 75%;
        font-size: 15px;
        padding: 15px 10px 15px 30px;
        background-image: none;

    }

}

@media (max-width: 375px) {

    .card-content {

        justify-content: center;

    }
    
    .container p{
    
        font-size: 1.3rem;
        padding: 15px;
    
    }
    
    footer .container img {
    
        width: 70px;
    
    }

}