<!DOCTYPE html>
<html>

<head>
   
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Product List</title>

    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">

</head>

<body style="background-color: #0A0C14;">

    <header>

        <div class="container"> 

            <h1>
                <a href="http://localhost:8080/"><img src="../assets/Img/logo.png" alt=""></a>
                
            </h1>
            
            <input type="text" search-input placeholder="Buscar">

            <a href="/novo"><img id="new" src="../assets/Img/new.png"></a>

        </div>

    </header>

    <main>

        <section class="product" th:switch="${produtos}">

            <div class="card" th:each="product : ${produtos}">
    
                <a th:href="@{{url}(url=${product.url})}" target="_blank">
    
                    <h2 class="card-title" th:text="${product.nome}"></h2>
                    
                </a>
    
                <div class="card-content"> 
    
                    <a th:href="@{{url}(url=${product.url})}" target="_blank">
    
                        <img th:src="${product.img}" src="" alt="imagem do produto">
                        
                    </a>
                    
                    <div class="content">
                        
                        <div class="content-line">
    
                            <div class="line-1">
            
                                <p class="content-informations">Preço: R$</p>
                                <p class="content-informations-value" th:text="${product.preco}"></p>
            
                            </div>
            
                            <div class="line-2">
            
                                <p class="content-informations">Categoria:</p>
                                <p class="content-informations-value" th:text="${product.categoria}"></p>
            
                            </div>
    
                        </div>
    
                        <div class="content-line">
    
                            <div class="line-3">
            
                                <p class="content-informations">Loja:</p>
                                <p class="content-informations-value" th:text="${product.loja}"></p>
            
                            </div>
    
                        </div>
    
                        <div class="button">

                            <a id="delete">Excluir</a>
    
                        </div>   
    
                        <div class="button">
    
                            <a th:href="@{{url}(url=${product.url})}" id="view">Ver no site</a>
    
                        </div>   
    
                    </div>
    
                </div>
    
            </div>
    
        </section>

    </main>
    
    <footer>

        <div class="container">

            <ul class="contato">
                
                <li>

                    <a href="https://github.com/matheusnascimentods"  target="_blank"><img src="../assets/Img/github.png"></a>

                </li>

                <li>

                    <a href="https://www.linkedin.com/in/matheusnascimentods/"  target="_blank"><img src="../assets/Img/linkedin.png"></a>

                </li>

            </ul>
            
            <p>Desenvolvido por Matheus Nascimento dos Santos.</p>

        </div>

    </footer>

</body>

</html>